body {
    background-color: lightblue;
}

.book-cover {
    background-color: black;
    padding: 300px 50px;
    margin-top: 180px;
    border-radius: 5px;
}

.pages {
    background-color: white;
    padding: 350px 400px;
    margin-left: 175px;
    margin-top: 200px;
    border-radius: 5px;
}

.circular-arrow {
    margin-top: 500px;
}

.start-link {
    display:block;
    margin-top: 500px;
    padding: 10px 25px;
    text-decoration: none;
    color:black;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.start-link:hover {
    color: rgb(241, 177, 14);
    text-decoration: underline;
}

h1 {
    font-family: "Bokor", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: white;
    text-align: center;
}

h2 {
    font-family: "Noto Serif Ahom", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

h3 {
    color:black;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

p {
    color:black;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

ul {
    color:black;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.first-page {
    background-color: white;
}

.second-page {
    background-color: white;
}

.cultural-taboo-section {
    margin:20px;
}

.next-arrow {
    padding-top: 500px;
}

.back-link a {
    float: right;
    color: black;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
}

.back-link a:hover {
    color: rgb(241, 177, 14);
    text-decoration: underline;
}

.resources-section {
    text-align: center;
}

.resources-section p {
    color: white;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
}

.resources-section a {
    color: white;
    text-decoration: none;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
}

.resources-section a:hover {
    color: rgb(241, 177, 14);
    text-decoration: underline;
}

.credit-section {
    background-color: black;
    margin-top: 500px;
    margin-left: 800px;
}

.credit-section a {
    color: white;
    text-decoration: none;
}

.credit-section a:hover {
    color: rgb(241, 177, 14);
    text-decoration: underline;
}